.mapa {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.contacto__formulario {
    width: 100%;
    margin: 1rem auto;
    max-width: 500px;
    text-align: left;
    font-size: 18px;
}

.contacto__subtitulo {
    padding-bottom: 20px;
    color: black;
    text-align: center;
}

.contacto__mapa {
    width: 100%;
    margin: 1rem auto;
    max-width: 500px;
    text-align: center;

}