.mapa {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.contacto {
    &__formulario {
        width: 100%;
        margin: 1rem auto;
        max-width: 500px;
        text-align: left;
        font-size: 18px;
    }
    
    &__subtitulo {
        padding-bottom: 20px;
        color: black;
        text-align: center;
    }
    
    &__mapa {
        width: 100%;
        margin: 1rem auto;
        max-width: 500px;
        text-align: center;
    }
}
