.card-body {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__espacio {
    padding: 2rem;
}

.mobile--centrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fondo {
    background-color: rgba(255, 255, 255, 0.712);
    padding: 2rem;
    border-radius: 10px;
    border: 4px solid $colorPrincipal;
}
