.card-body {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__espacio {
    padding: 2rem;
}

.mobile--centrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}