.primeraSeccionIndex {
    width: 100%;
    margin: 2rem auto;
    max-width: 1000px;
    text-align: center;

    &__titulo {
        color: $negro;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0;
    }
    &__parrafo {
        color: $negro;
        font-size: 20px;
        text-align: justify;
    }
    &__imagen {
        width: 100%;
    }
}



.sugerencias {
    background-color: $violeta;
    color: $negro;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 14rem;
    display: flex;

    &__boton {
        margin-top: 1rem;
    }
}

