.primeraSeccionIndex {
    width: 100%;
    margin: 2rem auto;
    max-width: 1000px;
    text-align: center;

    &__titulo {
        color: $negro;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0;
    }

    &__parrafo {
        color: $negro;
        font-size: 20px;
        text-align: justify;
    }

    &__imagen {
        width: 100%;
    }
}

.sugerencias {
    background-color: $colorPrincipalClarito;
    color: $negro;
    font-size: 18px;
    padding: 1rem;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 14rem;
    display: flex;
    transition: all 1s;

    &:hover {
        box-shadow: 3px 3px 5px gray;
        box-shadow: 3px 3px 5px gray;
        background-color: $colorPrincipal;
        color: white;
    }

    &__boton {
        margin-top: 1rem;
    }
}
.active {
    background-color: red;
    z-index: 99999999999999999999999999999999;
}