/*--------------Inspiracion----------------*/



/*
.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.tarjeta {
    background-color: rgba(255, 255, 255, 0.712);
    color: $negro;
    width: 25%;
    height: 400px;
    padding: 25px 20px;
    margin: 10px 35px;
    border: 5px solid $colorPrincipal;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 3px 3px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tarjeta__titulo {
    color: $negro;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 10px;
}

.tarjeta__imagen {
    width: 70%;
    max-height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;

}

.tarjeta__parrafo {
    color: $negro;
    font-size: 1rem;
    font-weight: lighter;
    text-align: justify;
}

.card--oscuro {
    background-color: $negro;
    color: white;
}

.tarjeta__titulo--oscuro {
    color: white;
    font-size: 23px;
    font-weight: lighter;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 10px;
}

.tarjeta__parrafo--oscuro {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
}
*/