$colorPrincipal: rgb(82, 0, 82);
$negro: black;
$violeta: violet;

$redes: (
    instagram: white,
    whatsapp: green,
    youtube: red
);

@each $red, $color in $redes {
    .red-social {
        &-#{$red} {
            color: $color;
        }
    }
    
}